# Compiled class file
Backend/*.class

# Log file
Backend/*.log

# BlueJ files
Backend/*.ctxt

# Mobile Tools for Java (J2ME)
Backend/.mtj.tmp/

# Package Files #
Backend/*.jar
Backend/*.war
Backend/*.nar
Backend/*.ear
Backend/*.zip
Backend/*.tar.gz
Backend/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Backend/hs_err_pid*

Backend/pom.xml

# Eclipse
Backend/.classpath
Backend/.project
Backend/.settings/
 
# Intellij
Backend/.idea/
Backend/*.iml
Backend/*.iws
 
# Mac
Backend/.DS_Store
 
# Maven
Backend/log/
Backend/target/
