<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/addUser" method="post">
        <input type="text" placeholder="First Name" name="fname" id="fname" required>
        <input type="text" placeholder="Last Name" name="lname" id="lname" required>
        <input type="email" placeholder="user_email@ucalgary.ca" name="email" id="email" required>
        <select name="type" id="type" required>
            <option value="">Select user's role</option>
            <option value="student">Student</option>
            <option value="admin">Admin</option>
        </select>
        <input type="submit" value="Add User">
    </form>
</div>
</body>
</html>